{% extends 'layouts/enabled-base.html' %}

{% block title %} Dashboard {% endblock title %}
{% block content %}
  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-xl-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col">
                  <small>Total Growth</small>
                  <h3>$2,324.00</h3>
                </div>
              </div>
              <div id="growthchart"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3 align-items-center">
                <div class="col">
                  <h4>Popular Stocks</h4>
                </div>
                <div class="col-auto"> </div>
              </div>
              <div class="rounded bg-light-secondary overflow-hidden mb-3">
                <div class="px-3 pt-3">
                  <div class="row mb-1 align-items-start">
                    <div class="col">
                      <h5 class="text-secondary mb-0">Bajaj Finery</h5>
                      <small class="text-muted">10% Profit</small>
                    </div>
                    <div class="col-auto">
                      <h4 class="mb-0">$1839.00</h4>
                    </div>
                  </div>
                </div>
                <div id="bajajchart"></div>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                  <div class="row align-items-start">
                    <div class="col">
                      <h5 class="mb-0">Bajaj Finery</h5>
                      <small class="text-success">10% Profit</small>
                    </div>
                    <div class="col-auto">
                      <h4 class="mb-0"
                        >$1839.00<span class="ms-2 align-top avtar avtar-xxs bg-light-success"
                          ><i class="ti ti-chevron-up text-success"></i></span
                      ></h4>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-start">
                    <div class="col">
                      <h5 class="mb-0">TTML</h5>
                      <small class="text-danger">10% Profit</small>
                    </div>
                    <div class="col-auto">
                      <h4 class="mb-0"
                        >$100.00<span class="ms-2 align-top avtar avtar-xxs bg-light-danger"
                          ><i class="ti ti-chevron-down text-danger"></i></span
                      ></h4>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-start">
                    <div class="col">
                      <h5 class="mb-0">Reliance</h5>
                      <small class="text-success">10% Profit</small>
                    </div>
                    <div class="col-auto">
                      <h4 class="mb-0"
                        >$200.00<span class="ms-2 align-top avtar avtar-xxs bg-light-success"
                          ><i class="ti ti-chevron-up text-success"></i></span
                      ></h4>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-start">
                    <div class="col">
                      <h5 class="mb-0">TTML</h5>
                      <small class="text-danger">10% Profit</small>
                    </div>
                    <div class="col-auto">
                      <h4 class="mb-0"
                        >$189.00<span class="ms-2 align-top avtar avtar-xxs bg-light-danger"
                          ><i class="ti ti-chevron-down text-danger"></i></span
                      ></h4>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="row align-items-start">
                    <div class="col">
                      <h5 class="mb-0">Stolon</h5>
                      <small class="text-danger">10% Profit</small>
                    </div>
                    <div class="col-auto">
                      <h4 class="mb-0"
                        >$189.00<span class="ms-2 align-top avtar avtar-xxs bg-light-danger"
                          ><i class="ti ti-chevron-down text-danger"></i></span
                      ></h4>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}

{% block extra_js %}
  <!-- Apex Chart -->
  <script src="{{ url_for('static', filename='assets/js/plugins/apexcharts.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/pages/dashboard-default.js') }}"></script>
  <!-- [Page Specific JS] end -->
{% endblock extra_js %}
