{% extends 'layouts/base.html' %}

{% block title %} Sample Page {% endblock title %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->

      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>Portal Configuration</h5>
            </div>
            <div class="card-body">
              <p>Please select your service tier.</p>
              
              <form action="/result" method="GET">

                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="basic" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btnradio1">Basic</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="normal" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Normal</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="advanced" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Advanced</label>

                </div>

              </form>


            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
{% endblock content %}

